:root {
    --black: hsl(229, 23%, 23%);
    --grey-light:  hsl(0, 0%, 59%);
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--black);
}
.wrapper {
    background: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-top.svg),
                      url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: 1000px;     
    background-position: top -600px left -20vw, bottom -650px right -250px;
    display: grid;
    grid-template-rows: 1fr 20px;
    place-items: center;
    min-height: 100vh;
}
.card {
    width: 350px;
    height: 380px;
    border-radius: 15px;
    text-align: center;
    display: grid;
    grid-template-rows: 140px 150px 90px;
    background-color: white;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
img {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 85px;
}
.card-header {
    position: relative;
    justify-items: center;
    background-image: url(/images/bg-pattern-card.svg);                
    border-radius: 15px 15px 0 0;
    z-index: 1;
}
.data {
    align-self: end;
    padding-bottom: 20px;
}
.data > p:first-child:hover {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer; 
}
.card-footer {
    border-top: 1px solid hsl(200, 10%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0 0 15px 15px;   
}
.card-footer > p {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.card-footer > p:hover {
    background: rgba(0, 0 ,0 ,0.05);
    cursor: pointer; 
}
.item1 {
    border-bottom-left-radius: 15px;
    padding-left: 40px;
}
.item3 {
    border-bottom-right-radius: 15px;
    padding-right: 40px;
}
.lighter-font {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 1rem;
}
span {
    font-weight: 400;
    font-size: .6em;
    color: var(--grey-light);
    letter-spacing: 1px;
}
.data p:last-child {
    padding-top: 10px;
    font-size: .8em;
}